@model Bangiay.Models.Product

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<main id="main" class="main">
    <div class="pagetitle">
        <h2>Xác nhận thêm sản phẩm</h2>
    </div>
    <div class="container shadow p-5">
        <div class="row pb-2">
            <h2>Thêm mới sản phẩm</h2>
        </div>
        <form method="post">
            <div asp-validation-summary="All"></div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="ProductName" class="control-label"></label>
                    <input asp-for="ProductName" class="form-control" />
                    <span asp-validation-for="ProductName" class="text-danger"></span>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="control-label">Images</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <button class="btn btn-success" type="button" onclick="openDialog()">choose a pic</button>
                        </div>
                        <input type="text" class="form-control" asp-for="Images" id="file_input" aria-describedby="button-addon2" />
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <div class="alert-danger" asp-validation-summary="ModelOnly"></div>
                    <label asp-for="Contents" class="control-label"></label>
                    <input asp-for="Contents" class="form-control" />
                    <span asp-validation-for="Contents" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Link">Link</label>
                    <input type="text" class="form-control mb-3" asp-for="Link" placeholder="Enter Link" />
                    <span asp-validation-for="Link" class="alert-danger"></span>
                </div>

                <div class="form-group col-md-6">
                    <label asp-for="CreatedDate" class="control-label"></label>
                    <input asp-for="CreatedDate" class="form-control" />
                    <span asp-validation-for="CreatedDate" class="text-danger"></span>
                </div>

                <div class="form-group col-md-6">
                    <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Color" class="control-label"></label>
                    <input asp-for="Color" class="form-control" />
                    <span asp-validation-for="Color" class="text-danger"></span>
                </div>
                <div class="form-group mt-5 mb-5">
                    <label>
                        @Html.CheckBox("IsActive",false)
                        Hiển thị
                    </label>
                </div>
            </div>
            <button type="submit" class="btn btn-lg btn-primary p-2"><i class="bi bi-file-plus-fill">Lưu</i></button>
            <a asp-controller="Products" asp-action="Index" class="btn btn-lg btn-warning p-2"> Quay lại</a>

        </form>
    </div>
</main>
@{
    var summerNote = new Bangiay.Areas.Admin.Models.SummerNote("#Contents");
    <partial name="_SummerNote" model="summerNote"/>
}
